.myname {
  font-size: x-large;
  color: darkslategrey;
}

.sectionHead {
  font-size: larger;
  color: darkslategrey;
  background-color: rgb(236, 233, 233);
}

.sectionYear {
  text-align: center;
  font-size: x-larger;
  color: darkslategrey;
  background-color: rgb(236, 233, 233);
}

.introduction {
  font-size: medium;
  color: lightslategray;
}

.mylinks {
  font-size: medium;
  text-align: center;
  color: lightslategray;
  text-decoration: none;
}

.navInactive {
  font-size: larger;
  text-align: center;
  color: black;
  text-decoration: none;
}

.navInactive:hover {
  font-size: larger;
  text-align: center;
  color: dodgerblue;
  text-decoration: none;
}

#nav-dropdown {
  font-size: larger;
  text-align: center;
  color: black;
  text-decoration: none;
}

#nav-dropdown:hover {
  font-size: larger;
  text-align: center;
  color: dodgerblue;
  text-decoration: none;
}

.papertitle {
  font-size: large;
  color: darkslategrey;
  border: none;
}

.paperauthor {
  font-size: medium;
  color: lightslategray;
  border: none;
  margin: 0px 0;
}

.paperpublication {
  font-size: medium;
  color: lightslategray;
  border: none;
  margin: 0px 0;
}

#authorZhou {
  font-size: medium;
  text-align: center;
  color: dodgerblue;
  text-decoration: none;
}
