.top{
    display: inline-block;
}

.level1{
    display: inline-block;
    width: 650px;
    font-size: 450px;
    text-align:center;
    vertical-align: middle;
    color: rgb(236, 10, 47);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

.illustration{
    font-size: large;
    text-align:center;
    vertical-align: middle;
    color: rgb(228, 91, 114);
}

